{% extends "countdown/wrapper.html" %}
{% block content %}

  <div class="bg-gradient"></div>
  <div class="container">
      <h1>Солнцевский S.A.D.</h1>
      <h2>Зарегистрированные участники</h2>
      <table>
          <thead><th>Участник</th><th>Город</th><th>Компания</th><th>Команда</th></thead>
          <tbody>
          {% for member in members %}
          <tr>
          <td>{{ member.name }}</td><td>{{ member.city }}</td><td>{{ member.company }}</td><td>{{ member.team.name }}</td>
          </tr>
          {% endfor %}
          </tbody>
      </table>
      <a href="/">Назад</a>
    <footer>
      <p>
        Copyright(C) Solntsevsky SysAdminDay All rights reserved.
      </p>
    </footer>
  </div>

{% endblock %}
